/* .login-window {
    border: 1px;
    border-style: solid;
    border-color: black;
    width: 400px;
	height: 500px;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.submit-container {
    padding: 2rem;
}

.submit-container input {
    background-color:#fff;
	border:1px solid #000;
	cursor:pointer;
    color:#000;
	font-size:20px;
	padding:16px 57px;
}

.submit-container input:hover {
    background-color:#000;
    color:#fff;
}

.textInput {
    width: 70%;
    height: 20px;
    border: #000;
    border-width: 2px;
    border-style: solid;
}

.form-container p {
    align-self: flex-start;
    margin-left: 55px;
} */
